<!--
	作者：maxu
 	时间：2016-08-09
 	描述  我的星级
 -->

<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>星级管理</li>
        <li>{{title}}</li>
    </ol>
    <div class="container-fluid bgWhite">
        <div class="title" style="font-size: 23px;margin-bottom: 15px">我的星级</div>
        <table class="table text-center">
            <tbody>
            <tr>
                <th>差错率</th>
                <th>投诉率</th>
                <th>盘点差异率</th>
                <th>配送超时率</th>
                <th>总积分</th>
                <th>星级</th>
                <th>排名</th>
            </tr>
            
            <tr ng-repeat="item in searchPaginator">
                 <td>{{item.a}}</td>
                 <td>{{item.b}}</td>
                 <td>{{item.c}}</td>
                 <td>{{item.d}}</td>
                 <td>{{item.e}}</td>
                 <td>{{item.f}}</td>
                 <td>{{item.g}}</td>
             </tr>
            </tbody>
        </table>
        <div class="padding text-center">
            <div class="bill_paging">
                <ul class="pagination">
                    <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                        <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                    </li>
                    <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                        <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">上一页</a>
                    </li>
                    <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]" ng-repeat="i in searchPaginator.pages">
                        <a href="javascript:void(0)"  ng-click="searchPaginator.go(i)">{{i}}</a>
                    </li>
                    <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                        <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">下一页</a>
                    </li>
                    <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                        <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                    </li>
                </ul>
                <span>共{{searchPaginator.page.showCount}}条</span>
            </div>
        </div>
    </div>
</div>