<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：询价平台
-->

<div class="pageContent">
	<ol class="breadcrumb">
		<li><span class="glyphicon glyphicon-home mr10"></span>询价平台</li>
	</ol>
	<form class="clearfix searchContent ng-pristine ng-valid">
		<div class="col-xs-12">
			<div class="col-md-3 form-group">
				<label class="control-label">省份</label>
				<select name="province" class="form-control" ng-model="address.province" ng-change="address.city='';" ng-options="key as key for (key,value) in division">
					<option value="">--请选择--</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">城市</label>
				<select name="city" class="form-control" ng-model="address.city" ng-options="value as value for (key,value) in division[address.province]">
					<option value="">--请选择--</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">第三方名称</label>
				<input class="form-control" />
				<span></span>
			</div>
			<label class="control-label">&nbsp;</label>
			<div>
				<button class="btn btn-primary" type="button" ng-click="">搜索</button>
			</div>
		</div>
	</form>
	<div class="container-fluid bgWhite">
		<div class="table-responsive">
			<table class="table table-striped no-margin text-center">
				<tr>
					<th>三方名称</th>
					<th>企业星级</th>
					<th>城市</th>
					<th>仓库类型</th>
					<th>仓库管理费（元/平）</th>
					<th>装卸费（元/吨）</th>
					<th>操作费（元/吨）</th>
					<th>退货操作费（元/平）</th>
					<th>地址</th>
					<th>联系方式</th>
					<th>注册资金（万）</th>
					<th>企业资质</th>
					<th>仓库图片</th>
					<th>仓库考察表</th>
				</tr>
				<tr ng-repeat="item in searchPaginator.object.rows">
					<td>宝安物流</td>
					<td>三星</td>
					<td>北京</td>
					<td>立体仓</td>
					<td>50</td>
					<td>50</td>
					<td>50</td>
					<td>50</td>
					<td>XX市XX区XX路XX号</td>
					<td>139xxxxxxxx</td>
					<td>478265</td>
					<td><a>查看</a></td>
					<td><a>查看</a></td>
					<td><a href="javascript:void(0)" ng-click="download(item.content)">下载</a></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 text-center">
			<div class="padding">
				<div class="bill_paging">
					<ul class="pagination">
						<li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
							<a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
						</li>
						<li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
							<a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">上一页</a>
						</li>
						<li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]" ng-repeat="i in searchPaginator.pages">
							<a href="javascript:void(0)"  ng-click="searchPaginator.go(i)">{{i}}</a>
						</li>
						<li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
							<a href="javascript:void(0)" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">下一页</a>
						</li>
						<li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
							<a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
						</li>
					</ul>
					<span>共{{searchPaginator.page.totalResult}}条</span>
				</div>
			</div>
		</div>
	</div>
</div>