<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：我的客户
-->
<div style="padding:16px 14px;">
	<ol class="breadcrumb">
	  <li><span class="glyphicon glyphicon-home" style="margin-right:10px;"></span>我的客户</li>
	  <li>{{title}}</li>
	</ol>
	<div class="container-fluid bgWhite" style="margin-bottom:14px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-3 form-group">
				    <label>省份</label>
				    <input type="text" class="form-control" placeholder="Email">
				</div>
 			  <div class="col-xs-3 form-group">
			    <label>城市</label>
			    <input type="text" class="form-control" placeholder="Password">
			  </div>
			   <div class="col-xs-3 form-group">
			    <label>品牌商</label>
			    <input type="text" class="form-control" placeholder="Password">
			  </div>
			  <div class="col-xs-3 form-group" style="margin-top:26px;">
			  	<button type="button" class="btn btn-primary">搜索</button>
			  </div>
			</div>
		</div>
	</div>
	<div class="container-fluid bgWhite">
		<div class="row">
			<div ui-view></div>
		</div>
	</div>
</div>