<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：企业资质
-->
<div class="pageContent">
	<ol class="breadcrumb">
		<li><span class="glyphicon glyphicon-home mr10"></span>{{parentTitle}}</li>
        <li>企业资质</li>
	</ol>
	<form class="clearfix searchContent ng-pristine ng-valid">

			<div class="col-md-3 form-group">
				<label class="control-label">省份</label>
				<!--<select name="province" class="form-control" ng-model="address.province" ng-change="address.city='';" ng-options="key as key for (key,value) in division">
					<option value="">--请选择--</option>
				</select>-->
				<select name="province" id="" class="form-control" ng-model="province" ng-change="getCity(province)">
					<option value="">--请选择--</option>
					<option value="{{item.id}}" ng-repeat="item in provinces">{{item.name}}</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">城市</label>
				<!--<select name="city" class="form-control" ng-model="address.city" ng-options="value as value for (key,value) in division[address.province]">
					<option value="">--请选择--</option>
				</select>-->
				<select name="city" class="form-control" ng-model="city" ng-change="getEnterprise(city)">
					<option value="">--请选择--</option>
					<option value="{{item.id}}" ng-repeat="item in cities">{{item.name}}</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label class="control-label">第三方名称</label>
				<select class="form-control" ng-model="enterprise">
					<option value="">--请选择--</option>
					<option value="{{item.id}}" ng-repeat="item in enterprises">{{item.name}}</option>
				</select>
				<span></span>
			</div>

		<div class="col-xs-3 ">
			<label class="control-label">&nbsp;</label>
			<div class="">
				<button class="btn btn-primary" type="button">搜索</button>
			</div>
		</div>
	</form>
	<div class="container-fluid bgWhite">
		<h3 style="padding: 0 0 15px 0">保安物流</h3>
		<div ng-init="items=[1,2,3,4]" class="row">
			<div ng-repeat="item in items" class="col-xs-3">
				<div id="img{{$index+1}}" class="uploadImg">
					资质文件
				</div>
			</div>
		</div>
	</div>
</div>