<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：账户中心
-->
<div style="padding:16px 14px;">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home" style="margin-right:10px;"></span>我的客户</li>
        <li>{{title}}</li>
    </ol>
    <div class="container-fluid bgWhite" style="margin-bottom:14px;">
        <div class="row">

            <div class="col-xs-2 form-group">
                <label>日期</label>
                <input type="date" class="form-control" placeholder="Password">
            </div>
            <div class="col-xs-2 form-group">
                <label>省份</label>
                <select name="province" id="province" class="form-control">
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-2 form-group">
                <label>城市</label>
                <select name="city" id="city" class="form-control">
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-2 form-group">
                <label>收费类型</label>
                <select name="chargeType" id="chargeType" class="form-control">
                    <option value="北京">仓储管理费</option>
                    <option value="上海">配送费</option>
                    <option value="北京">干线调拨费</option>
                    <option value="上海">退货费</option>
                </select>
            </div>
            <div class="col-xs-2 form-group" style="margin-top:26px;">
                <button type="button" class="btn btn-primary">搜索</button>
            </div>

        </div>
    </div>

    <div class="container-fluid bgWhite">
        <div class="row">

            <div class="col-xs-12 " style="margin-top:26px;">

                <div class="col-xs-1 pull-right">
                    <button type="button" class="btn btn-primary">导出</button>
                </div>
                <div class="col-xs-7 pull-right">
                    <div class="row form-control">
                        <p class="col-xs-6 ">本月应收款：<span style="color: red">156778.786 </span>元</p>
                        <p class="col-xs-6 ">累计应收款：<span style="color: red">17498745.57</span> 元
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12">

                <table class="table text-center">
                    <tr>
                        <thead>

                        <th class="text-center">序号</th>
                        <th class="text-center">收费类型</th>
                        <th class="text-center">城市</th>
                        <th class="text-center">品牌公司</th>
                        <th class="text-center">日期</th>
                        <th class="text-center">费用合计</th>
                        <th class="text-center">单价</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">操作</th>

                        </thead>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>仓库管理费</td>
                        <td>北京</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>装卸费</td>
                        <td>上海</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>操作费</td>
                        <td>成都</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>退货费</td>
                        <td>南京</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>仓库管理费</td>
                        <td>武汉</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>装卸费</td>
                        <td>重庆</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>操作费</td>
                        <td>沈阳</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>仓库管理费</td>
                        <td>广州</td>
                        <td>XX酒业</td>
                        <td>2016-07-01</td>
                        <td>2500</td>
                        <td>50</td>
                        <td>50</td>
                        <td><a href="#">查看明细</a></td>
                    </tr>
                </table>

                <nav>
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>