<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：账户中心
-->
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>我的客户</li>
        <li>{{title}}</li>
    </ol>
    <form class="clearfix searchContent">
        <div class="col-xs-11">
            <div class="col-xs-3 form-group">
                <label class="control-label">日期</label>
                <input type="date" class="form-control" placeholder="Password" >
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">省份</label>
                <select name="province" id="province" class="form-control" >
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">城市</label>
                <select name="city" id="city" class="form-control" >
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">收费类型</label>
                <select name="chargeType" id="chargeType" class="form-control">
                    <option value="北京">仓储管理费</option>
                    <option value="上海">配送费</option>
                    <option value="北京">干线调拨费</option>
                    <option value="上海">退货费</option>
                </select>
            </div>
        </div>
        <div class="col-xs-1 text-right">
            <label class="control-label">&nbsp;</label>
            <div class="text-right">
                <button class="btn btn-primary" type="button">搜索</button>
            </div>
        </div>
    </form>
    <div class="bgWhite">
        <div class="container-fluid">
            <div class="row mg15-0">
                <div class="col-xs-3">

                </div>
                <div class="col-xs-6">
                    <div class="row form-control">
                        <p class="col-xs-6 ">本月应收款：<span style="color: red">156778.786 </span>元</p>
                        <p class="col-xs-6 ">累计应收款：<span style="color: red">17498745.57</span> 元
                        </p>
                    </div>
                </div>
                <div class="col-xs-3 text-right pr0">
                    <button type="button" class="btn btn-primary">导出</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">

                    <table class="table text-center">
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">收费类型</th>
                            <th class="text-center">城市</th>
                            <th class="text-center">品牌公司</th>
                            <th class="text-center">日期</th>
                            <th class="text-center">费用合计</th>
                            <th class="text-center">单价</th>
                            <th class="text-center">数量</th>
                            <th class="text-center">操作</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>仓库管理费</td>
                            <td>北京</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>退货费</td>
                            <td>南京</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>仓库管理费</td>
                            <td>武汉</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>装卸费</td>
                            <td>重庆</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>操作费</td>
                            <td>沈阳</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>仓库管理费</td>
                            <td>广州</td>
                            <td>XX酒业</td>
                            <td>2016-07-01</td>
                            <td>2500</td>
                            <td>50</td>
                            <td>50</td>
                            <td><a href="#">查看明细</a></td>
                        </tr>
                    </table>

                    <div class="padding text-center">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]" ng-repeat="i in searchPaginator.pages">
                                    <a href="javascript:void(0)"  ng-click="searchPaginator.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{searchPaginator.page.showCount}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>