<!--
	作者：makaiqin
 	时间：2016-08-10
 	描述：问题反馈
-->

<div style="background-color:#f1f2f6;padding:16px 14px;">

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home" style="margin-right:10px;"></span>问题反馈</li>
        <li>{{title}}</li>
    </ol>

    <!--功能操作END-->
    <div class="panel-body breadcrumb" style="background: #fff;padding-top: 3%">

        <!--条件查询表单-->
        <form class="navbar-form navbar-left" role="search">
            <span style="font-size: 16px;">反馈日期：</span>
            <div class="form-group">
                <div class="form-group">
                    <input type="date" class="form-control" id="carId" aria-describedby="basic-addon1">
                </div>
                <span style="font-size: 16px;">至</span>
                <div class="form-group" >
                    <input type="date" class="form-control" id="carBoss" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-default" style="background-color:#337ab7;color:#FFFFFF">搜索</button>
            </div>
        </form>
        <!--条件查询表单END-->


        <div style="float: right">
            <ul style="list-style: none;">
                <button class="btn btn-primary">反馈</button>
            </ul>
        </div>


        <!--表格-->
        <table class="table text-center" >
            <thead>
            <tr>

                <th style="text-align: center;padding-top: 2%">编号</th>

                <th style="text-align: center">问题类型</th>

                <th style="text-align: center">反馈内容</th>

                <th style="text-align: center">反馈日期</th>

                <th style="text-align: center">回复人</th>

                <th style="text-align: center">回复内容</th>

            </tr>

            </thead>

            <tbody>

            <tr class="odd gradeX">

                <td>1</td>

                <td>类型1</td>

                <td>###########</td>

                <td>2016.08.10</td>

                <td>李薇薇</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>2</td>

                <td>类型2</td>

                <td>###########</td>

                <td>2016.05.21</td>

                <td>张成</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>3</td>

                <td>类型3</td>

                <td>###########</td>

                <td>2016.04.26</td>

                <td>赵敏</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>4</td>

                <td>类型4</td>

                <td>###########</td>

                <td>2016.08.05</td>

                <td>李丽</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>5</td>

                <td>类型5</td>

                <td>###########</td>

                <td>2016.07.23</td>

                <td>王勇</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>6</td>

                <td>类型6</td>

                <td>###########</td>

                <td>2016.07.06</td>

                <td>尹小露</td>

                <td>###########</td>

            </tr>

        </table>
        <!--表格END-->

        <!--分页-->
        <nav style="text-align: center;">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--分页END-->

    </div>
</div>
</div>


