<!--
	作者：makaiqin
 	时间：2016-08-10
 	描述：问题反馈
-->

<div class="pageContent">

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>问题反馈</li>
        <li>{{title}}</li>
    </ol>
    <form class="clearfix searchContent form-inline p12-0">
        <div class="col-xs-11">
            <span style="font-size: 18px">反馈日期：</span>
            <div class="form-group">
                <label class="form-group">
                    <input type="date" class="form-control" id="carId" aria-describedby="basic-addon1" style="width: 227px">
                </label>
                <span style="margin: 0 8px;font-size: 18px">至</span>
                <label class="form-group" >
                    <input type="date" class="form-control" id="carBoss" aria-describedby="basic-addon1" style="width: 227px">
                </label>
            </div>
        </div>
        <div class="col-xs-1 text-right">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </form>
    <!--功能操作END-->

        <!--条件查询表单-->
    <div class="container-fluid bgWhite">
        <div class="row mg15-0">
            <div class="col-xs-11">

            </div>
            <div class="col-xs-1 text-right pr0">
                <button type="button" class="btn btn-primary">反馈</button>
            </div>
        </div>
        <table class="table text-center" >
            <tbody>
            <tr>

                <th style="text-align: center">编号</th>

                <th style="text-align: center">问题类型</th>

                <th style="text-align: center">反馈内容</th>

                <th style="text-align: center">反馈日期</th>

                <th style="text-align: center">回复人</th>

                <th style="text-align: center">回复内容</th>

            </tr>

            <tr class="odd gradeX">

                <td>1</td>

                <td>类型1</td>

                <td>###########</td>

                <td>2016.08.10</td>

                <td>李薇薇</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>2</td>

                <td>类型2</td>

                <td>###########</td>

                <td>2016.05.21</td>

                <td>张成</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>3</td>

                <td>类型3</td>

                <td>###########</td>

                <td>2016.04.26</td>

                <td>赵敏</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>4</td>

                <td>类型4</td>

                <td>###########</td>

                <td>2016.08.05</td>

                <td>李丽</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>5</td>

                <td>类型5</td>

                <td>###########</td>

                <td>2016.07.23</td>

                <td>王勇</td>

                <td>###########</td>

            </tr>

            <tr class="odd gradeX">

                <td>6</td>

                <td>类型6</td>

                <td>###########</td>

                <td>2016.07.06</td>

                <td>尹小露</td>

                <td>###########</td>

            </tr>

        </table>
        <!--表格END-->

        <!--分页-->
            <div class="padding text-center">
                <div class="bill_paging">
                    <ul class="pagination">
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">上一页</a>
                        </li>
                        <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]" ng-repeat="i in searchPaginator.pages">
                            <a href="javascript:void(0)"  ng-click="searchPaginator.go(i)">{{i}}</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">下一页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                        </li>
                    </ul>
                    <span>共{{searchPaginator.page.showCount}}条</span>
                </div>
            </div>
        <!--分页END-->
        </div>

    </div>
</div>



