<!--
	作者：maxu
 	时间：2016-08-09
 	描述  星级评定标准页面
 -->

<div style="padding:16px 14px;">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home" style="margin-right:10px;"></span>星级管理</li>
        <li>{{title}}</li>
    </ol>
    <div class="container-fluid" style="margin-bottom:14px;">
        <div class="row bgWhite" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12" style="margin:0 5px 15px 0;font-size: 20px">
                                差错率
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="25%" style="background: rgba(228, 228, 228, 1);width: 48px;height: 31px;text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" style="border-left:dashed 1px grey ">
                                <div class="row"style="margin:0 5px 15px 0;font-size: 15px">
                                    差错率
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="100%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="0" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row" style="margin:0 5px 15px 0;font-size: 15px">
                                    得分
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="20" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="50" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="100" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px;padding-left: 5px">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgWhite" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12" style="margin:0 5px 15px 0;font-size: 20px">
                                投诉率
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="25%" style="background: rgba(228, 228, 228, 1);width: 48px;height: 31px;text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" style="border-left:dashed 1px grey ">
                                <div class="row"style="margin:0 5px 15px 0;font-size: 15px">
                                    投诉率
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="100%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="0" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row" style="margin:0 5px 15px 0;font-size: 15px">
                                    得分
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="20" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="50" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="100" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgWhite" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12" style="margin:0 5px 15px 0;font-size: 20px">
                                盘点差异率
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="25%" style="background: rgba(228, 228, 228, 1);width: 48px;height: 31px;text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" style="border-left:dashed 1px grey ">
                                <div class="row"style="margin:0 5px 15px 0;font-size: 15px">盘点差异率</div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="100%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="0" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row" style="margin:0 5px 15px 0;font-size: 15px">
                                    得分
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="20" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="50" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="100" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgWhite" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12" style="margin:0 5px 15px 0;font-size: 20px">
                                配送超时率
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="25%" style="background: rgba(228, 228, 228, 1);width: 48px;height: 31px;text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4" style="border-left:dashed 1px grey ">
                                <div class="row"style="margin:0 5px 15px 0;font-size: 15px">配送超时率</div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="100%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="60%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="0" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px"><span style="margin: 0 10px;font-size: 15px">至</span><input type="text" value="10%" style="background: rgba(228, 228, 228, 1);width: 66px;height: 31px;padding-left: 5px">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row" style="margin:0 5px 15px 0;font-size: 15px">
                                    得分
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="20" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="50" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                                <div class="row" style="margin:0 5px 10px 0">
                                    <input type="text" value="100" style="background: rgba(228, 228, 228, 1);width: 79px;height: 31px;padding-left: 5px">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>