<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：客户需求
-->
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>客户需求</li>
    </ol>
    <div class="searchContent clearfix">
        <div class="col-xs-11 clearfix">
            <div class="col-xs-3 form-group">
                <label>省份</label>
                <select name="city" class="form-control">
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-3 form-group">
                <label>城市</label>
                <select name="city" class="form-control">
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="广州">广州</option>
                    <option value="深圳">深圳</option>
                    <option value="成都">成都</option>
                    <option value="全部">全部</option>
                </select>
            </div>
            <div class="col-xs-3 form-group">
                <label>公司名称</label>
                <input type="text" class="form-control" placeholder="请输入公司名称"  />
            </div>
        </div>
        <div class="col-xs-1">
            <label class="control-label">&nbsp;</label>
            <div class="text-right">
                <button class="btn btn-primary" type="button">搜索</button>
            </div>
        </div>
    </div>
    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12">
                <table class="table text-center">
                    <tr>
                        <th class="text-center">公司名称</th>
                        <th class="text-center">城市</th>
                        <th class="text-center">联系方式</th>
                        <th class="text-center">仓储需求(㎡)</th>
                        <th class="text-center">城配需求（单/日）</th>
                        <th class="text-center">干线需求（吨/日）</th>
                    </tr>
                    <tr ng-repeat="item in searchPaginator.object.rows">
                        <td>{{item.company}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.need1}}</td>
                        <td>{{item.need2}}</td>
                        <td>{{item.des}}</td>
                    </tr>
                </table>
                <div class="col-xs-12 text-center">
                    <div class="padding">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()" ng-click="searchPaginator.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]" ng-repeat="i in searchPaginator.pages">
                                    <a href="javascript:void(0)"  ng-click="searchPaginator.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()" ng-click="searchPaginator.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{searchPaginator.page.showCount}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

