<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：基础信息
-->

<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>{{title}}</li>
    </ol>
    <div class="container-fluid bgWhite form-horizontal">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#storage" aria-controls="storage" role="tab" data-toggle="tab">仓储服务</a></li>
            <li role="presentation"><a href="#city" aria-controls="city" role="tab" data-toggle="tab">城配服务</a></li>
            <li role="presentation"><a href="#trunk" aria-controls="trunk" role="tab" data-toggle="tab">干线服务</a></li>
        </ul>
        <div class="row tab-content">
            <div role="tabpanel" class="tab-pane active" id="storage">
                <div class="row clearfix">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="province" class="form-control" ng-model="province" ng-change="getCity(province)">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in provinces">{{item.name}}</option>
                                    </select>
                                    <span>省：</span>
                                </div>
                                <div class="tab-input">
                                    <select class="form-control">
                                        <option>立体仓</option>
                                        <option>平面仓</option>
                                    </select>
                                    <span>仓库类型：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.storagecost" />
                                    <span>仓储管理费(元/㎡)：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.stevedore"/>
                                    <span>装卸费（元/ 吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.phone"/>
                                    <span>联系方式：</span>
                                </div>
                                <div class="tab-input">
                                    <div>
                                        <button style="position:static;" class="btn btn-primary" ng-click="uploadPhoto('img')">
                                            上传仓库考察表
                                        </button>
                                    </div>
                                    <span>仓库考察表：</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="city" class="form-control" ng-model="storage.city">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in cities">{{item.name}}</option>
                                    </select>
                                    <span>市：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.location"/>
                                    <span>地址：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.area"/>
                                    <span>服务面积：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.operatecost"/>
                                    <span>操作费（元/ 吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="storage.returncost"/>
                                    <span>退货费（元/ ㎡）：</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-input">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div id="img1" ng-click="uploadPhoto('img1')" class="uploadImg">
                                        上传资质文件
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div id="img2" ng-click="uploadPhoto('img2')" class="uploadImg">
                                        上传资质文件
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div id="img3" ng-click="uploadPhoto('img3')" class="uploadImg">
                                        上传资质文件
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div id="img4" ng-click="uploadPhoto('img4')" class="uploadImg">
                                        上传资质文件
                                    </div>
                                </div>
                            </div>
                            <span>仓库图片</span>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding: 10px;">
                    <button class="btn btn-primary" ng-click="addStorage()">确定</button>
                    <button class="btn btn-default">取消</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="city">
                <div class="row clearfix">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="province" class="form-control" ng-model="province" ng-change="getCity(province)">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in provinces">{{item.name}}</option>
                                    </select>
                                    <span>省：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.deliveryStart"/>
                                    <span>日配送（吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.minniment"/>
                                    <span>起送量（吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.price"/>
                                    <span>单价(元/吨)：</span>
                                </div>
                                <div class="tab-input up-btn">
                                    <div>
                                        <button style="position:static;" class="btn btn-primary" ng-click="uploadPhoto('carInfoFile1')">
                                            上传车辆信息表
                                        </button>
                                    </div>
                                    <span>车辆信息表：</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="city" class="form-control" ng-model="cityDelivery.city">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in cities">{{item.name}}</option>
                                    </select>
                                    <span>市：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.deliveryEnd"/>
                                    <span class="text-center">至&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.truckno"/>
                                    <span>自有车辆：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.extracost"/>
                                    <span>多点费：</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding: 10px;">
                    <button class="btn btn-primary" ng-click="addCityDelivery()">确定</button>
                    <button class="btn btn-default">取消</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="trunk">
                <div class="row clearfix">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="province" class="form-control" ng-model="province" ng-change="getCity(province)">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in provinces">{{item.name}}</option>
                                    </select>
                                    <span>省：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.deliveryStart"/>
                                    <span>日配送（吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.minniment"/>
                                    <span>起送量（吨）：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.price"/>
                                    <span>单价(元/吨)：</span>
                                </div>
                                <div class="tab-input up-btn">
                                    <div>
                                        <button style="position:static;" class="btn btn-primary" ng-click="uploadPhoto('carInfoFile1')">
                                            上传车辆信息表
                                        </button>
                                    </div>
                                    <span>车辆信息表：</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tab-input">
                                    <select name="city" class="form-control" ng-model="trunkLine.city">
                                        <option value="">--请选择--</option>
                                        <option value="{{item.id}}" ng-repeat="item in cities">{{item.name}}</option>
                                    </select>
                                    <span>市：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.deliveryEnd"/>
                                    <span class="text-center">至&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.truckno"/>
                                    <span>自有车辆：</span>
                                </div>
                                <div class="tab-input">
                                    <input class="form-control" ng-model="cityDelivery.extracost"/>
                                    <span>多点费：</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding: 10px;">
                    <button class="btn btn-primary" ng-click="addTrunkLine()">确定</button>
                    <button class="btn btn-default">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">上传照片</h5>
            </div>
            <div class="modal-body">
                <div id="upload">
                    <div id="zyUpload"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>