<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：仓到店条款
-->
<style>
    th {
        text-align: center;
    }
</style>
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>仓到店条款</li>
    </ol>
    <form class="clearfix searchContent">
        <div class="col-xs-3 form-group">
            <label class="control-label">发布日期</label>
            <input class="form-control" type="date" ng-model="scdate"/>
        </div>
        <div class="col-xs-3 form-group">
            <label class="control-label">文件编号</label>
            <input class="form-control" type="text" placeholder="请输入文件编号" ng-model="fileno"/>
        </div>
        <div class="col-xs-3 form-group">
            <label class="control-label">文件名</label>
            <input class="form-control" type="text" placeholder="请输入文件名" ng-model="name"/>
        </div>
        <div class="col-xs-3 ">
            <label class="control-label">&nbsp;</label>
            <div>
                <button class="btn btn-primary" type="button" ng-click="search()">搜索</button>
            </div>
        </div>

    </form>

    <!--新增按钮-->
    <form ng-if="houtai" class="clearfix searchContent">
        <div class="col-xs-3 form-group">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#newAddModal"
                    data-whatever="@mdo">新增
            </button>
        </div>
    </form>
    <!--新增按钮end-->

    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12">
                <table class="table text-center">
                    <tr>
                        <th>文件编号</th>
                        <th>文件名</th>
                        <th ng-if="services">发布日期</th>
                        <th ng-if="services">附件</th>
                        <th ng-if="houtai">上传人</th>
                        <th ng-if="houtai">上传时间</th>
                        <th ng-if="houtai">下载次数</th>
                        <th ng-if="houtai">操作</th>
                    </tr>
                    <tr ng-repeat="item in searchPaginator.object.rows">
                        <td>{{item.fileno}}</td>
                        <td>{{item.name}}</td>
                        <td ng-if="services">{{item.scdate | date:'yyyy-MM-dd'}}</td>
                        <td ng-if="services"><a href="javascript:void(0)"
                                                ng-click="downloadFile(item.content,item.download)">下载</a>
                        </td>
                        <td ng-if="houtai">{{item.opertaor}}</td>
                        <td ng-if="houtai">{{item.scdate}}</td>
                        <td ng-if="houtai">{{item.download}}</td>
                        <td ng-if="houtai"><a ng-click="detailItem(item)" href="" style="text-decoration:underline;"
                                              data-toggle="modal"
                                              data-target="#updateModal"
                                              data-whatever="@mdo">修改</a> &nbsp;&nbsp;&nbsp;<a
                                ng-click="deleteById(item.id)" href="" style="text-decoration:underline;">删除</a></td>
                    </tr>
                    <tr ng-show="searchPaginator.page.totalResult==0">
                        <td colspan="5" class="text-center">
                            暂无数据！
                        </td>
                    </tr>

                </table>
                <div ng-show="searchPaginator.page.totalResult!=0" class="col-xs-12 text-center">
                    <div class="padding">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()"
                                       ng-click="searchPaginator.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]"
                                    ng-repeat="i in searchPaginator.pages">
                                    <a href="javascript:void(0)" ng-click="searchPaginator.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()"
                                       ng-click="searchPaginator.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                                    <a href="javascript:void(0)"
                                       ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{searchPaginator.page.totalResult}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增模态框-->
<div class="modal fade" id="newAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">
                    新增仓到店条款
                </h4>
            </div>
            <div class="modal-body" style="height: 200px">
                <form>
                    <div class="row">
                        <div class="col-xs-3 text-right" style="font-size: 16px">
                            文件名称：
                        </div>
                        <div class="col-xs-5 ">
                            <input class="fileName form-control" ng-model="clauseAddInfo.name" type="text">
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-xs-3 text-right" style="font-size: 16px">
                            文件附件：
                        </div>
                        <div class="col-xs-5">
                            <input class="file" type="hidden" name="types" value="" ng-model="clauseAddInfo.content">
                            <button class="btn btn-primary" ng-click="uploadFiles()">上传
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button ng-click="addItem()" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>

    </div>
</div>
<!--新增模态框END-->

<!--修改模态框-->
<div class="modal fade" id="updateModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateModalLabel">
                    修改仓到店条款
                </h4>
            </div>
            <div class="modal-body" style="height: 300px">
                <form>
                    <div class="row" style="margin-top:20px">
                        <div class="col-xs-3 text-right" style="font-size: 16px">
                            文件名称：
                        </div>
                        <div class="col-xs-5">
                            <input ng-model="clauseUpdateInfo.name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-xs-3 text-right" style="font-size: 16px">
                            文件附件：
                        </div>
                        <div class="col-xs-5">
                            <input ng-model="clauseUpdateInfo.content" class="form-control" name="types" value="">

                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary" ng-click="uploadFiles()">上传
                            </button>
                        </div>
                    </div>
                    <!--<div class="row" style="margin-top:20px">-->
                    <!--<div class="col-xs-3 text-right" style="font-size: 16px">-->
                    <!--上传时间：-->
                    <!--</div>-->
                    <!--<div class="col-xs-5">-->
                    <!--<input ng-model="clauseUpdateInfo.scdate" type="text" class="form-control" style="width: 200px;height: 25px">-->
                    <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button ng-click="updateItem(clauseUpdateInfo.id)" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>

    </div>
</div>
<!--修改模态框END-->

<!--上传文件模态框-->
<div class="modal fade" id="uploadPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">上传照片</h5>
            </div>
            <div class="modal-body">
                <div id="upload">
                    <div id="zyUpload"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<!--上传文件模态框END-->


