<!--
	作者：chenlang
 	时间：2016-08-08
 	描述：投诉 明细
-->
<style>
    th {
        text-align: center;
    }
</style>
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>我的客户</li>
        <li>{{title}}</li>
    </ol>
    <form class="clearfix searchContent">
        <div class="col-xs-10">
            <div class="col-xs-3 form-group">
                <label class="control-label">起始日期</label>
                <input class="form-control" type="date"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">结束</label>
                <input class="form-control" type="date"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">投诉企业</label>
                <input class="form-control" type="text"/>
            </div>
            <div class="col-xs-3 form-group">
                <label class="control-label">被投诉企业</label>
                <input class="form-control" type="text"/>
            </div>
        </div>
        <div class="col-xs-2 form-group ">
            <label class="control-label">&nbsp;</label>
            <div>
                <button class="btn btn-primary" type="button">搜索</button>
            </div>
        </div>

    </form>
    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12" style="margin:15px 0;">
                <div class="col-xs-6">
                    <h4>投诉明细</h4>
                </div>
                <div class="col-xs-6 text-right" style="padding-right: 0;">
                    <button type="button" class="btn btn-primary" ng-click="downloadFIle()">导出</button>
                </div>
            </div>
            <div class="col-xs-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>投诉企业</th>
                        <th>被投诉企业</th>
                        <th>投诉类型</th>
                        <th>投诉时间</th>
                        <th>首次回复时间</th>
                        <th>二次回复时间</th>
                        <th>投诉评价</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in complaintDetail.object.rows">
                        <td>{{item.brandedcompanyid}}</td>
                        <td>{{item.wlcompanyid}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.sbdate}}</td>
                        <td>{{item.time1}}</td>
                        <td>{{item.time2}}</td>
                        <td>{{item.score}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-xs-12 text-right">
                    <div class="padding text-center">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[complaintDetail.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="complaintDetail.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[complaintDetail.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="complaintDetail.hasPrevious()"
                                       ng-click="complaintDetail.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[complaintDetail.page.currentPage==i]"
                                    ng-repeat="i in complaintDetail.pages">
                                    <a href="javascript:void(0)" ng-click="complaintDetail.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[complaintDetail.page.currentPage==complaintDetail.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="complaintDetail.hasNext()"
                                       ng-click="complaintDetail.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[complaintDetail.page.currentPage==complaintDetail.page.totalPage]">
                                    <a href="javascript:void(0)"
                                       ng-click="complaintDetail.go(complaintDetail.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{complaintDetail.page.showCount}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
