<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：会员管理
-->
<div class="pageContent">
	<ol class="breadcrumb">
		<li><span class="glyphicon glyphicon-home mr10"></span>{{parentTitle}}</li>
		<li>投诉记录</li>
	</ol>
	<div class="clearfix searchContent">
		<div class="col-xs-11">
			<div class="col-xs-3 form-group">
				<label class="control-label">注册时间</label>
				<input class="form-control" type="date"/>
			</div>
			<div class="col-xs-3 form-group">
				<label class="control-label">甲方企业</label>
				<input class="form-control" />
			</div>
			<div class="col-xs-3 form-group">
				<label class="control-label">甲方企业</label>
				<input class="form-control" />
			</div>
		</div>
		<div class="col-xs-1 text-right">
			<label class="control-label">&nbsp;</label>
			<div class="text-right">
				<button class="btn btn-primary" type="button" ng-click="search">搜索</button>
			</div>
		</div>
	</div>
	<div class="container-fluid bgWhite">
		<table class="table text-center">
			<tr>
				<th>甲方企业名称</th>
				<th>乙方企业名称</th>
				<th>合同签订时间</th>
				<th>到期时间</th>
				<th>操作</th>
			</tr>
			<tr>
				<td>山东省仓</td>
				<td>快速物流</td>
				<td>2016-07-01</td>
				<td>2016-07-02</td>
				<td><a class="btn btn-sm btn-primary">下载</a><a class="btn btn-sm btn-success">修改</a><a class="btn btn-sm btn-danger">删除</a></td>
			</tr>
			<tr>
				<td>山东省仓</td>
				<td>快速物流</td>
				<td>2016-07-01</td>
				<td>2016-07-02</td>
				<td><a class="btn btn-sm btn-primary">下载</a><a class="btn btn-sm btn-success">修改</a><a class="btn btn-sm btn-danger">删除</a></td>
			</tr>
			<tr>
				<td>山东省仓</td>
				<td>快速物流</td>
				<td>2016-07-01</td>
				<td>2016-07-02</td>
				<td><a class="btn btn-sm btn-primary">下载</a><a class="btn btn-sm btn-success">修改</a><a class="btn btn-sm btn-danger">删除</a></td>
			</tr>
			<tr>
				<td>山东省仓</td>
				<td>快速物流</td>
				<td>2016-07-01</td>
				<td>2016-07-02</td>
				<td><a class="btn btn-sm btn-primary">下载</a><a class="btn btn-sm btn-success">修改</a><a class="btn btn-sm btn-danger">删除</a></td>
			</tr>
			<tr>
				<td>山东省仓</td>
				<td>快速物流</td>
				<td>2016-07-01</td>
				<td>2016-07-02</td>
				<td><a class="btn btn-sm btn-primary">下载</a><a class="btn btn-sm btn-success">修改</a><a class="btn btn-sm btn-danger">删除</a></td>
			</tr>
		</table>
	</div>
</div>