<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：早安1919
-->
<div class="autoheight" style="padding:16px 14px;overflow: auto;">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>{{parentTitle}}</li>
        <li>早安1919</li>
    </ol>
    <form class="clearfix searchContent">
        <div class="col-xs-3 form-group">
            <label class="control-label">起始时间：</label>
            <input type="date" class="form-control" ng-model="searchData.starttime" style="width: 227px">
        </div>
        <div class="col-xs-3 form-group">
            <label class="control-label">结束时间：</label>
            <input type="date" class="form-control" ng-model="searchData.endtime" style="width: 227px">
        </div>
        <div class="col-xs-3 form-group ">
            <label class="control-label">&nbsp;</label>
            <div>
                <button type="submit" ng-click="search()" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </form>
    <div class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12">
                <table class="table text-center">
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">上传时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                    <tr ng-repeat="item in currentBrand.object.rows">
                        <td>{{$index+1}}</td>
                        <td>{{item.scdate}}</td>
                        <td><a href="javascript:void(0);" ng-click="down(item)">下载</a></td>
                    </tr>
                    <tr ng-show="currentBrand.page.totalResult==0">
                        <td class="text-center" colspan="4">
                            暂无数据
                        </td>
                    </tr>
                </table>
                <div ng-show="currentBrand.page.totalResult!=0" class="padding text-center">
                    <div class="bill_paging">
                        <ul class="pagination">
                            <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                <a href="javascript:void(0)" ng-click="currentBrand.go(1)">首页</a>
                            </li>
                            <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==1]">
                                <a href="javascript:void(0)" ng-show="currentBrand.hasPrevious()" ng-click="currentBrand.previous()">上一页</a>
                            </li>
                            <li ng-class="{true:'active'}[currentBrand.page.currentPage==i]" ng-repeat="i in currentBrand.pages">
                                <a href="javascript:void(0)"  ng-click="currentBrand.go(i)">{{i}}</a>
                            </li>
                            <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                <a href="javascript:void(0)" ng-show="currentBrand.hasNext()" ng-click="currentBrand.next()">下一页</a>
                            </li>
                            <li ng-class="{true:'disabled'}[currentBrand.page.currentPage==currentBrand.page.totalPage]">
                                <a href="javascript:void(0)" ng-click="currentBrand.go(currentBrand.page.totalPage)">尾页</a>
                            </li>
                        </ul>
                        <span>共{{currentBrand.page.totalResult}}条</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--新建表单-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">新建1919</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="dd" class="control-label col-md-12 ">内容选择:</label>
                        <input type="file" id="dd" class=" col-md-6 " style="margin-top:10px ">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>