<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：认证审核
-->
<div class="pageContent">
	<ol class="breadcrumb">
		<li><span class="glyphicon glyphicon-home mr10"></span>{{title}}</li>
	</ol>
	<div class="container-fluid bgWhite form-horizontal">
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">企业名称：</label>
			</div>
			<div class="col-xs-4">
				<input class="form-control" type="text" value="XXX公司" ng-model="brief.name"  disabled/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">联系方式：</label>
			</div>
			<div class="col-xs-4">
				<input class="form-control" type="text" value="135XXXXXXXX" ng-model="brief.name"  disabled/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">公司邮箱：</label>
			</div>
			<div class="col-xs-4">
				<input class="form-control" type="text" value="value@168.com" disabled/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">公司地址：</label>
			</div>
			<div class="col-xs-4">
				<input class="form-control" type="text" value="XX省XX市XX区XX路XX号" disabled/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">公司简介：</label>
			</div>
			<div class="col-xs-4">
				<textarea class="form-control" type="text" disabled>uaidsyieuwfyiefhwkjlfehfhadjklhhhhhhhhhhhhhhggggggggdygf</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">公司法人：</label>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<div class="uploadImg">
							法人照片
						</div>
					</div>
					<div class="col-xs-3">
						<div class="uploadImg">
							法人照片
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-2 text-right ">
				<label class="control-label">公司资质：</label>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<div id="img1" class="uploadImg">
							上传资质文件
						</div>
					</div>
					<div class="col-xs-3">
						<div id="img2" class="uploadImg">
							上传资质文件
						</div>
					</div>
					<div class="col-xs-3">
						<div id="img3" class="uploadImg">
							上传资质文件
						</div>
					</div>
					<div class="col-xs-3">
						<div id="img4" class="uploadImg">
							上传资质文件
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<button class="btn btn-primary" ng-click="changeIt(1)" ui-sref="main.vipManagement">通过</button>
				<button class="btn btn-danger" ng-click="changeIt(2)" ui-sref="main.vipManagement">不通过</button>
				<button class="btn " ng-click="changeIt(3)" ui-sref="main.vipManagement">拉黑</button>
			</div>
		</div>
	</div>
</div>