<!--
	作者：chenlang
 	时间：2016-08-08
 	描述：差错管理
-->
<style>
    th {
        text-align: center;
    }
    p{padding: 10px 0}
</style>
<div class="pageContent">
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home mr10"></span>{{parentTitle}}</li>
        <li>差错管理</li>
    </ol>
    <div class="clearfix searchContent">
        <div class="col-md-11">
            <div class="col-xs-3 form-group">
                <label class="control-label">日期</label>
                <input class="form-control" ng-model="sbdate" type="date"/>
            </div>
            <div ng-if="services" class="col-xs-3 form-group">
                <label class="control-label">一级分类</label>
                <select name="" class="form-control" ng-model="type1" ng-options="key as key for key in division1">
                    <option value="">所有类型</option>
                </select>
            </div>
            <div ng-if="services" class="col-xs-3 form-group">
                <label class="control-label">二级分类</label>
                <select name="" class="form-control" ng-model="type2" ng-options="key as key for key in division2">
                    <option value="">所有类型</option>
                </select>
            </div>
            <div ng-if="services" class="col-xs-3 form-group">
                <label class="control-label">三级分类</label>
                <select name="" class="form-control" ng-model="type3" ng-options="key as key for key in division3">
                    <option value="">所有类型</option>
                </select>
            </div>
        </div>
        <div class="col-xs-1 ">
            <label class="control-label">&nbsp;</label>
            <div class="text-right">
                <button class="btn btn-primary" type="button" ng-click="search">搜索</button>
            </div>
        </div>
    </div>
    <div ng-if="services" class="container-fluid bgWhite">
        <div class="row">
            <div class="col-xs-12 mg15-0">
                <div class="col-xs-6">
                    <h4>差错记录</h4>
                </div>
                <div class="col-xs-6 text-right pr0">
                    <button type="button" class="btn btn-primary" ng-click="downloadFile()">导出</button>
                </div>
            </div>
            <div class="col-xs-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>上报人</th>
                        <th>一级分类</th>
                        <th>二级分类</th>
                        <th>三级分类</th>
                        <th>赔偿金额（元）</th>
                        <th>差错描述</th>
                        <th>上报时间</th>
                        <th>平台判定</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in mistakes.object.rows">
                        <td>{{item.brandedcompanyid}}</td>
                        <td>{{item.type1}}</td>
                        <td>{{item.type2}}</td>
                        <td>{{item.type3}}</td>
                        <td>{{item.money}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.sbdate}}</td>
                        <td>{{item.reply}}</td>
                        <td><a data-toggle="modal" data-target="#appeal">申诉</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-xs-12 text-center">
                    <div class="padding">
                        <div class="bill_paging">
                            <ul class="pagination">
                                <li ng-class="{true:'disabled'}[mistakes.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-click="mistakes.go(1)">首页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[mistakes.page.currentPage==1]">
                                    <a href="javascript:void(0)" ng-show="mistakes.hasPrevious()" ng-click="mistakes.previous()">上一页</a>
                                </li>
                                <li ng-class="{true:'active'}[mistakes.page.currentPage==i]" ng-repeat="i in mistakes.pages">
                                    <a href="javascript:void(0)"  ng-click="mistakes.go(i)">{{i}}</a>
                                </li>
                                <li ng-class="{true:'disabled'}[mistakes.page.currentPage==mistakes.page.totalPage]">
                                    <a href="javascript:void(0)" ng-show="mistakes.hasNext()" ng-click="mistakes.next()">下一页</a>
                                </li>
                                <li ng-class="{true:'disabled'}[mistakes.page.currentPage==mistakes.page.totalPage]">
                                    <a href="javascript:void(0)" ng-click="mistakes.go(mistakes.page.totalPage)">尾页</a>
                                </li>
                            </ul>
                            <span>共{{mistakes.page.totalResult}}条</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="demand" class="container-fluid bgWhite">
        <button class="btn btn-primary">导出</button>
        <button class="btn btn-primary" data-target="#demandNew" data-toggle="modal">上报</button>
        <table class="table text-center">
            <tr>
                <th>承运商</th>
                <th>上报日期</th>
                <th>一级分类</th>
                <th>二级分类</th>
                <th>三级分类</th>
                <th>其他描述</th>
                <th>承运商回复</th>
                <th>平台判定</th>
            </tr>
            <tr ng-repeat="item in mistakes.object.rows">
                <td>{{item.wlcompanyid}}</td>
                <td>{{item.sbdate}}</td>
                <td>{{item.type1}}</td>
                <td>{{item.type2}}</td>
                <td>{{item.type3}}</td>
                <td>{{item.description}}</td>
                <td>{{item.reply}}</td>
                <td><a href="">申诉</a></td>
            </tr>
        </table>
        <div class="col-xs-12 text-center">
            <div class="padding">
                <div class="bill_paging">
                    <ul class="pagination">
                        <li ng-class="{true:'disabled'}[mistakes.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-click="mistakes.go(1)">首页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[mistakes.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-show="mistakes.hasPrevious()" ng-click="mistakes.previous()">上一页</a>
                        </li>
                        <li ng-class="{true:'active'}[mistakes.page.currentPage==i]" ng-repeat="i in mistakes.pages">
                            <a href="javascript:void(0)"  ng-click="mistakes.go(i)">{{i}}</a>
                        </li>
                        <li ng-class="{true:'disabled'}[mistakes.page.currentPage==mistakes.page.totalPage]">
                            <a href="javascript:void(0)" ng-show="mistakes.hasNext()" ng-click="mistakes.next()">下一页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[mistakes.page.currentPage==mistakes.page.totalPage]">
                            <a href="javascript:void(0)" ng-click="mistakes.go(mistakes.page.totalPage)">尾页</a>
                        </li>
                    </ul>
                    <span>共{{mistakes.page.totalResult}}条</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="demandNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">上传差错</h5>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="tab-input">
                            <input class="form-control" ng-model="mistake.wlcompanyid"/>
                            <span>差错承运商：</span>
                        </div>
                        <div class="tab-input">
                            <select class="form-control" ng-options="mistake.type1">
                                <option value="类型1">类型1</option>
                                <option value="类型2">类型2</option>
                                <option value="类型3">类型3</option>
                            </select>
                            <span>一级分类：</span>
                        </div>
                        <div class="tab-input">
                            <select class="form-control" ng-options="mistake.type3">
                                <option value="类型1">类型1</option>
                                <option value="类型2">类型2</option>
                                <option value="类型3">类型3</option>
                            </select>
                            <span>三级分类：</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tab-input">
                            <input class="form-control" ng-model="mistake.money"/>
                            <span>索赔金额：</span>
                        </div>
                        <div class="tab-input">
                            <select class="form-control" ng-options="mistake.type2">
                                <option value="类型1">类型1</option>
                                <option value="类型2">类型2</option>
                                <option value="类型3">类型3</option>
                            </select>
                            <span>二级分类：</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tab-input">
                            <textarea class="form-control" ng-model="mistake.description"></textarea>
                            <span>详细描述：</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="addMistake()">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="appeal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">上传差错</h5>
            </div>
            <div class="modal-body">
                <p style="margin-top: -10px">差错内容</p>
                <textarea  class="form-control"></textarea>
                <p>我的申诉</p>
                <textarea  class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="addMistake()">确认</button>
            </div>
        </div>
    </div>
</div>
