<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：导航
-->
<out-nav navs="navs"></out-nav>
<!-- <ul class="navBox">
	<li>
		<a class="navA" href="">
			<b class="glyphicon glyphicon-home"></b>
			基础信息
			<span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
	</li>
	<li>
		<a class="navA" href="">
			<b class="glyphicon glyphicon-file"></b>
			客户需求
			<span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
	</li>
	<li>
		<a class="navA" href="">
			<b class="glyphicon glyphicon-file"></b>
			我的客户
			<span class="glyphicon glyphicon-menu-right pull-right"></span>
		</a>
		<ul>
			<li><a href="">服务团队</a></li>
			<li><a href="">合同条款</a></li>
			<li><a href="">运营报表</a>
				<ol>
					<li><a href="">配送报表</a></li>
					<li><a href="">调拨报表</a></li>
				</ol>
			</li>
		</ul>
	</li>
</ul> -->
<!-- <dl >
	<dt>
		<b class="glyphicon glyphicon-home"></b>基础信息
		<span class="glyphicon glyphicon-menu-right pull-right"></span>
	</dt>
</dl>
<dl class="navBox">
	<dt>
		<b class="glyphicon glyphicon-home"></b>客户需求
		<span class="glyphicon glyphicon-menu-right pull-right"></span>
	</dt>
</dl>
<dl class="navBox">
	<dt>
		<b class="glyphicon glyphicon-home"></b>我的客户
		<span class="glyphicon glyphicon-menu-right pull-right"></span>
	</dt>
	<dd>服务团队</dd>
	<dd>合同条款</dd>
	<dd>运营报表
		<ul>
			<li>服务团队</li>
			<li>服务团队</li>
			<li>服务团队</li>
		</ul>
	</dd>
	<dd>服务团队</dd>
	<dd>服务团队</dd>
</dl> -->