<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：导航(物流)
-->

<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-file"></span><a ui-sref="main.baseInfo" href="">基础信息</a></h3>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-list-alt"></span><a ui-sref="main.baseInfo" href="">客户需求</a></h3>
</div>
<div class="sidebar_box">
    <h3><span class="glyphicon glyphicon-user"></span><a ui-sref="main.baseInfo" href="">我的客户</a></h3>
    <ul class="sidebar_one" style="display: block;">
        <li><a class="two" ng-sref="" href="">服务团队</a></li>
        <li><a class="two" ng-sref="" href="">合同条款</a></li>
        <li>
            <h4 class="two" class="font14">运营报表</h4>
            <ul class="sidebar_two">
                <li><a class="three" ui-sref="" href="">配送报表</a></li>
                <li><a class="three" ui-sref="" href="">调拨报表</a></li>
                <li><a class="three" ui-sref="" href="">退货数据</a></li>
                <li><a class="three" ui-sref="" href="">时效数据</a></li>
                <li><a class="three" ui-sref="" href="">出入库报表</a></li>
                <li><a class="three" ui-sref="" href="">盘点差异表</a></li>
            </ul>
        </li>
        <li><a class="two" ui-sref="" href="">公函管理</a></li>
        <li><a class="two" ui-sref="" href="">差错管理</a></li>
        <li><a class="two" ui-sref="" href="">投诉管理</a></li>
        <li><a class="two" ui-sref="" href="">理赔管理</a></li>
    </ul>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-credit-card"></span><a ui-sref="main.baseInfo" href="">账户中心</a></h3>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-usd"></span><a ui-sref="main.baseInfo" href="">仓到店条款</a></h3>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-dashboard"></span><a ui-sref="main.baseInfo" href="">SOP条款</a></h3>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-bullhorn"></span><a ui-sref="main.baseInfo" href="">通报栏</a></h3>
</div>
<div class="sidebar_box">
    <h3><span class="glyphicon glyphicon-star"></span>星级管理</h3>
    <ul class="sidebar_one">
        <li><a class="two" ui-sref="" href="">星级评定标准</a></li>
        <li><a class="two" ui-sref="" href="">我的星级</a></li>
    </ul>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-paste"></span><a ui-sref="main.baseInfo" href="">问题反馈</a></h3>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-apple"></span><a ui-sref="main.baseInfo" href="">早安1919</a></h3>
</div>
<script src="bower_components/nav.js"></script>