<!--
	作者：yeshengqiang
 	时间：2016-08-08
 	描述：导航(物流)
-->

<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-file"></span><a ui-sref="main.baseInfo" href="">基础信息</a></h3>
</div>
<div class="sidebar_box">
    <h3><span class="glyphicon glyphicon-user"></span><a ui-sref="main.baseInfo" href="">我的客户</a></h3>
    <ul class="sidebar_one" style="display: block;">
        <li><a class="two" ng-sref="" href="">服务团队</a></li>
        <li><a class="two" ng-sref="" href="">合同条款</a></li>
        <li>
            <h4 class="two" class="font14">运营报表</h4>
            <ul class="sidebar_two">
                <li><a class="three" ui-sref="" href="">配送报表</a></li>
                <li><a class="three" ui-sref="" href="">调拨报表</a></li>
                <li><a class="three" ui-sref="" href="">退货数据</a></li>
                <li><a class="three" ui-sref="" href="">时效数据</a></li>
                <li><a class="three" ui-sref="" href="">出入库报表</a></li>
                <li><a class="three" ui-sref="" href="">盘点差异表</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="sidebar_boxs">
    <h3><span class="glyphicon glyphicon-credit-card"></span><a ui-sref="main.baseInfo" href="">账户中心</a></h3>
</div>
<script src="bower_components/nav.js"></script>