@charset "UTF-8";
/**
 * 
 * @authors Ye
 * @email   www.673089899@qq.com
 * @date    2015-07-24 23:55:30
 * @version $Id$
 */
 
/*清零*/
html{font-size:625%;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,figure,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;border:0;-webkit-text-size-adjust:none;}
body{font-size: 0.14rem;font-family: Microsoft YaHei,Arial, "Helvetica Neue", Helvetica, sans-serif;line-height:1.5;box-sizing: border-box;background:#f5f5f5;-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;color:#222;}
img,iframe{border:none;vertical-align:middle;}
ul,ol{list-style:outside none none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a:focus{outline:none;-moz-outline:none;}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}

/*盒子模型*/
.cp{padding:0;}
.mr15{margin-right:15px;}
/*top*/
.topBox{background:#337ab7; color:#FFF;}
.top{line-height:50px; height:50px;}
h3{line-height:inherit;}
a.exit:link,a.exit:visited,a.exit:active{color:#FFF;text-decoration: none;}
a.exit:hover{text-decoration: underline;}
/*left*/
.leftBox{width:220px;background:#FFF;}
/* .navBox{background:#FFF;overflow: hidden;} */

/*.navBox .glyphicon{margin-right:10px;}
.navBox.active{background:rgb(240, 240, 240);}
.navBox dt,.navBox dd{line-height:48px;height:48px;padding:0px 15px;border-bottom:1px solid #e5e5e5;color:#5d5d5d;cursor: pointer;}
.navBox dd{padding-left:39px;display:none;border:none;line-height:30px;height:30px;-webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -o-backface-visibility:hidden;  -ms-visibility-visibility:hidden; backface-visibility:hidden;}
.navBox dd:hover,.navBox dd.active{background:#dddddd;}
.navBox:first-child dd{display:block;}
.navBox .pull-right{line-height:48px;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;transition: all 0.3s linear;}
.navBox.active .pull-right{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}*/
/*main*/
.mainBox{width:-webkit-calc(100% - 220px); width:calc(100% - 220px);}

/*右边公共部分*/
.panel-default{border:none;}
.breadcrumb{background:#FFF;margin-bottom:14px;}
.bgWhite{
	background:#FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding-top:8px;
	padding-bottom:8px;
}
/*表格*/
.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>th{
	border-top:none;
	text-align:center;
	padding:10px 8px;
}