@charset "UTF-8";
/**
 * 
 * @authors Ye
 * @email   www.673089899@qq.com
 * @date    2015-07-24 23:55:30
 * @version $Id$
 */
 
/*清零*/
html{font-size:625%;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,figure,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;border:0;}
body{font-size: 0.14rem;font-family: Microsoft YaHei,Arial, "Helvetica Neue", Helvetica, sans-serif;line-height:1.5;box-sizing: border-box;background:rgb(240, 240, 240);-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
img,iframe{border:none;vertical-align:middle;}
ul,ol{list-style:outside none none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a:focus{outline:none;-moz-outline:none;}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}

/*盒子模型*/
.cp{padding:0;}
.mr15{margin-right:15px;}
/*top*/
.topBox{background:#337ab7; color:#FFF;}
.top{line-height:50px; height:50px;}
h3{line-height:inherit;}
a.exit:link,a.exit:visited,a.exit:active{color:#FFF;text-decoration: none;}
a.exit:hover{text-decoration: underline;}
/*left*/
.leftBox{width:220px;background:#FFF;}
.navBox{background:#FFF;overflow: hidden;}
.navBox.active{background:rgb(240, 240, 240);}
.navBox dt,.navBox dd{line-height:48px;height:48px;padding:0px 15px;border-bottom:1px solid #e5e5e5;color:#5d5d5d;cursor: pointer;}
.navBox dd{line-height:30px;height:30px;display:block;-webkit-transition: all linear 0.5s;transition: all linear 0.5s;overflow:hidden;}
.navBox dt:hover,.navBox dt.active{background:rgb(240, 240, 240);}
.navBox dd:hover,.navBox dd.active{background:#dddddd;display:block;}
.navBox .pull-right{line-height:48px;}
/*main*/
.mainBox{width:-webkit-calc(100% - 220px); width:calc(100% - 220px);}

