<!--
	作者：makaiqin
 	时间：2016-08-10
 	描述：意见反馈
-->
<div class="pageContent">
    <!--<div style="background-color:#f1f2f6;padding:16px 14px;">-->

        <ol class="breadcrumb">
            <li><span class="glyphicon glyphicon-home mr10"></span>意见反馈</li>
        </ol>

        <!--功能操作END-->
        <!--<div class="panel-body breadcrumb" style="background: #fff;padding-top: 3%">-->
    <div class="clearfix searchContent">
            <!--条件查询表单-->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class=" form-group">
                        <label class="control-label">问题时间：</label>
                        <input type="date" class="form-control" id="carId" aria-describedby="basic-addon1"
                               style="width: 218px">
                    </div>
                    <div class=" form-group">
                        <label class="control-label" style="padding-left: 15px;">问题状态：</label>
                        <select class="form-control" style="width: 218px">
                            <option selected="selected">已回复</option>
                            <option>未回复</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 25px" >搜索
                    </button>
                </div>
            </form>
            <!--条件查询表单END-->
        </div>
            <!--表格-->
    <div class="container-fluid bgWhite">
            <table class="table padding " style="text-align: center;">
                <tbody>
                <tr>

                    <th style="text-align: center;padding-top: 2%">编号</th>

                    <th style="text-align: center;padding-top: 2%">问题类型</th>

                    <th style="text-align: center;padding-top: 2%">主题</th>

                    <th style="text-align: center;padding-top: 2%">反馈人</th>

                    <th style="text-align: center;padding-top: 2%">反馈时间</th>

                    <th style="text-align: center;padding-top: 2%">问题状态</th>

                    <th style="text-align: center;padding-top: 2%">操作</th>

                </tr>


                <tr class="odd gradeX">

                    <td>1</td>

                    <td>类型1</td>

                    <td>###########</td>

                    <td>李薇薇</td>

                    <td>2016.08.10</td>

                    <td>已回复</td>

                    <td><a>查看</a></td>

                </tr>

                <tr class="odd gradeX">

                    <td>2</td>

                    <td>类型2</td>

                    <td>###########</td>

                    <td>张成</td>

                    <td>2016.05.21</td>

                    <td>已回复</td>

                    <td><a>查看</a></td>

                </tr>

                <tr class="odd gradeX">

                    <td>3</td>

                    <td>类型3</td>

                    <td>###########</td>

                    <td>赵敏</td>

                    <td>2016.04.26</td>

                    <td>未回复</td>

                    <td><a>查看</a></td>

                </tr>

                <tr class="odd gradeX">

                    <td>4</td>

                    <td>类型4</td>

                    <td>###########</td>

                    <td>李丽</td>

                    <td>2016.08.05</td>

                    <td>未回复</td>

                    <td><a>查看</a></td>

                </tr>

                <tr class="odd gradeX">

                    <td>5</td>

                    <td>类型5</td>

                    <td>###########</td>

                    <td>王勇</td>

                    <td>2016.07.23</td>

                    <td>已回复</td>

                    <td><a>查看</a></td>

                </tr>

                <tr class="odd gradeX">

                    <td>6</td>

                    <td>类型6</td>

                    <td>###########</td>

                    <td>尹小露</td>

                    <td>2016.07.06</td>

                    <td>已回复</td>

                    <td><a>查看</a></td>

                </tr>

            </table>
        </div>
            <!--表格END-->

            <!--分页-->
            <div class="padding text-center">
                <div class="bill_paging">
                    <ul class="pagination">
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(1)">首页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==1]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasPrevious()"
                               ng-click="searchPaginator.previous()">上一页</a>
                        </li>
                        <li ng-class="{true:'active'}[searchPaginator.page.currentPage==i]"
                            ng-repeat="i in searchPaginator.pages">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(i)">{{i}}</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-show="searchPaginator.hasNext()"
                               ng-click="searchPaginator.next()">下一页</a>
                        </li>
                        <li ng-class="{true:'disabled'}[searchPaginator.page.currentPage==searchPaginator.page.totalPage]">
                            <a href="javascript:void(0)" ng-click="searchPaginator.go(searchPaginator.page.totalPage)">尾页</a>
                        </li>
                    </ul>
                    <span>共{{searchPaginator.page.showCount}}条</span>
                </div>
            </div>
            <!--分页END-->

        </div>
    <!--</div>-->
</div>